In [1]:
pip install pyspark

Requirement already satisfied: pyspark in ./venv/lib/python3.12/site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in ./venv/lib/python3.12/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pyspark_test').getOrCreate()
spark
from pyspark.sql.functions import *

25/04/04 10:41:02 WARN Utils: Your hostname, brempong-HP-EliteBook-840-G7-Notebook-PC resolves to a loopback address: 127.0.1.1; using 192.168.36.43 instead (on interface wlp0s20f3)
25/04/04 10:41:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/04 10:41:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

# USER AND TRANSACTIONS METRICS

In [4]:
locations = spark.read.csv('data/locations.csv',inferSchema=True, header=True)
locations.show(5)

+-----------+--------------------+--------------------+---------+-----+--------+-----------+----------+
|location_id|       location_name|             address|     city|state|zip_code|   latitude| longitude|
+-----------+--------------------+--------------------+---------+-----+--------+-----------+----------+
|       2702|Jackson, Velazque...|3140 Heath Radial...|  Modesto|   CA|   94540|   86.25802| -169.2448|
|       4380|            Bean LLC|51144 Patrick Isl...|  Fontana|   CA|   92188|-74.4558925|-42.279882|
|       7709|     Gilbert-Simmons|    4738 Lewis Locks|Roseville|   CA|   91032|-65.4309305|-64.763489|
|       8607|    Coleman-Robinson|  324 Robin Causeway|  Modesto|   CA|   93714| -64.281076|-77.669631|
|       5499|        Deleon Group|    51725 Evans View|Roseville|   CA|   91849| 18.4951575|-154.76578|
+-----------+--------------------+--------------------+---------+-----+--------+-----------+----------+
only showing top 5 rows

In [5]:
users = spark.read.csv('data/users.csv',inferSchema=True, header=True)
users.show(5)

+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
|   user_id|first_name|last_name|               email|      phone_number|driver_license_number|driver_license_expiry|creation_date|is_active|
+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
|26d08ab733|      Lisa|   Parker|lisa.parker@gmail...|334.271.2972x60554|             MO028963|           2033-06-21|   2024-05-26|        1|
|0a0430e6f9|  Courtney|   Martin|courtney.martin@y...|  826-262-0518x252|             VW966518|           2028-09-28|   2024-05-22|        0|
|eb5d10cccd|    Andrew|  Mcclain|andrew.mcclain@ho...|   +1-467-858-1702|             WL839491|           2028-09-01|   2024-01-29|        1|
|2a59127ee0|   Michael|   Hoover|michael.hoover@ya...|  001-220-342-6250|             UI603163|           2028-11-29|   2024-03-22|        1|
|e3a46a2a11|     Molly|   Brooks|molly.brooks@yaho...|   +1-595-498-7645|             BJ158232|           2025-01-24|   2024-03-02|        1|
+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
only showing top 5 rows

In [6]:
vehicles = spark.read.csv('data/vehicles.csv',inferSchema=True, header=True)
vehicles.show(5)

+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+----------+---------------------+---------+------------+
|active|vehicle_license_number|   registration_name|    license_type|expiration_date|permit_license_number|certification_date|vehicle_year|base_telephone_number|        base_address|vehicle_id|last_update_timestamp|    brand|vehicle_type|
+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+----------+---------------------+---------+------------+
|     1|               5818886|CITY,LIVERY,LEASI...|FOR HIRE VEHICLE|     27-09-2025|             6EPABCVK|        2018-01-09|        2018|        (646)780-0129|1515 THIRD STREET...|67789f742d|  04-06-2024 13:25:00|  Ferrari|    high_end|
|     1|               5520432|    FERNANDEZ,JOSE,A|FOR HIRE VEHICLE|     08-01-2026|             IC0VQ8EC|        2015-01-21|        2015|        (646)780-0129|1515 THIRD STREET...|70e8c42e4f|  04-06-2024 13:25:00|      BMW|     premium|
|     1|               5790608| RIGO,LIMO-AUTO,CORP|FOR HIRE VEHICLE|     19-06-2025|             AGTGT62I|        2020-03-31|        2020|        (646)780-0129|1515 THIRD STREET...|aa2522d199|  04-06-2024 13:25:00|   Toyota|       basic|
|     1|               6045671|    NARZIEV,LAZIZJON|FOR HIRE VEHICLE|     22-11-2025|             OO9QLG6E|        2022-11-09|        2022|        (646)780-0129|1515 THIRD STREET...|0984531ace|  04-06-2024 13:25:00|Chevrolet|       basic|
|     1|               6022074|         YAQOOB,SAAD|FOR HIRE VEHICLE|     05-04-2025|             3U109JZC|        2018-11-29|        2018|        (646)780-0129|1515 THIRD STREET...|1ee2538be7|  04-06-2024 13:25:00|    Tesla|    high_end|
+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+----------+---------------------+---------+------------+
only showing top 5 rows

In [7]:
rental = spark.read.csv('data/rental_transactions.csv',inferSchema=True, header=True)
rental.show(5)

+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+
| rental_id|   user_id|vehicle_id|  rental_start_time|    rental_end_time|pickup_location|dropoff_location|total_amount|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+
|b139d8e1b2|320be8068b|0d52304987|2024-02-28 08:05:00|2024-03-01 05:05:00|           1497|            6785|       450.0|
|7afd60f6d3|320be8068b|975d72985c|2024-01-07 20:16:00|2024-01-09 21:16:00|           5345|            2608|      2450.0|
|733a9361bc|8f31b734a6|0d9f0f0fb9|2024-01-07 09:36:00|2024-01-07 17:36:00|           2546|            5442|        80.0|
|6e546b69dd|8f31b734a6|967fdab45e|2024-01-05 11:30:00|2024-01-07 04:30:00|           8147|            4380|      2050.0|
|acc192b64a|8f31b734a6|32d58ea4b7|2024-03-06 18:19:00|2024-03-09 14:19:00|           6290|            8932|      1360.0|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+
only showing top 5 rows

In [8]:
rental.printSchema()
locations.printSchema()
users.printSchema()
vehicles.printSchema()

root
 |-- rental_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- vehicle_id: string (nullable = true)
 |-- rental_start_time: timestamp (nullable = true)
 |-- rental_end_time: timestamp (nullable = true)
 |-- pickup_location: integer (nullable = true)
 |-- dropoff_location: integer (nullable = true)
 |-- total_amount: double (nullable = true)

root
 |-- location_id: integer (nullable = true)
 |-- location_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

root
 |-- user_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- driver_license_number: string (nullable = true)
 |-- driver_license_expiry: date (nullable = true)
 |-- creation_date: date (nullable = true)
 |-- is_active: integer (nullable = true)

root
 |-- active: integer (nullable = true)
 |-- vehicle_license_number: string (nullable = true)
 |-- registration_name: string (nullable = true)
 |-- license_type: string (nullable = true)
 |-- expiration_date: string (nullable = true)
 |-- permit_license_number: string (nullable = true)
 |-- certification_date: date (nullable = true)
 |-- vehicle_year: integer (nullable = true)
 |-- base_telephone_number: string (nullable = true)
 |-- base_address: string (nullable = true)
 |-- vehicle_id: string (nullable = true)
 |-- last_update_timestamp: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- vehicle_type: string (nullable = true)

In [9]:
rental = rental.withColumn(
    "rental_duration_hours",
    (col("rental_end_time").cast("long") - col("rental_start_time").cast("long")) / 3600 # Enclose the subtraction within parentheses and divide the result by 3600
)
rental.show(5)

+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+
| rental_id|   user_id|vehicle_id|  rental_start_time|    rental_end_time|pickup_location|dropoff_location|total_amount|rental_duration_hours|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+
|b139d8e1b2|320be8068b|0d52304987|2024-02-28 08:05:00|2024-03-01 05:05:00|           1497|            6785|       450.0|                 45.0|
|7afd60f6d3|320be8068b|975d72985c|2024-01-07 20:16:00|2024-01-09 21:16:00|           5345|            2608|      2450.0|                 49.0|
|733a9361bc|8f31b734a6|0d9f0f0fb9|2024-01-07 09:36:00|2024-01-07 17:36:00|           2546|            5442|        80.0|                  8.0|
|6e546b69dd|8f31b734a6|967fdab45e|2024-01-05 11:30:00|2024-01-07 04:30:00|           8147|            4380|      2050.0|                 41.0|
|acc192b64a|8f31b734a6|32d58ea4b7|2024-03-06 18:19:00|2024-03-09 14:19:00|           6290|            8932|      1360.0|                 68.0|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+
only showing top 5 rows

In [10]:
users.show(5)

+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
|   user_id|first_name|last_name|               email|      phone_number|driver_license_number|driver_license_expiry|creation_date|is_active|
+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
|26d08ab733|      Lisa|   Parker|lisa.parker@gmail...|334.271.2972x60554|             MO028963|           2033-06-21|   2024-05-26|        1|
|0a0430e6f9|  Courtney|   Martin|courtney.martin@y...|  826-262-0518x252|             VW966518|           2028-09-28|   2024-05-22|        0|
|eb5d10cccd|    Andrew|  Mcclain|andrew.mcclain@ho...|   +1-467-858-1702|             WL839491|           2028-09-01|   2024-01-29|        1|
|2a59127ee0|   Michael|   Hoover|michael.hoover@ya...|  001-220-342-6250|             UI603163|           2028-11-29|   2024-03-22|        1|
|e3a46a2a11|     Molly|   Brooks|molly.brooks@yaho...|   +1-595-498-7645|             BJ158232|           2025-01-24|   2024-03-02|        1|
+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
only showing top 5 rows

In [11]:
user_rental = rental.join(users, rental.user_id == users.user_id, "inner")
user_rental.show(5)

+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
| rental_id|   user_id|vehicle_id|  rental_start_time|    rental_end_time|pickup_location|dropoff_location|total_amount|rental_duration_hours|   user_id|first_name|last_name|               email|      phone_number|driver_license_number|driver_license_expiry|creation_date|is_active|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
|a4c0ee86ff|26d08ab733|cebe26ed1b|2024-05-18 10:47:00|2024-05-20 09:47:00|           9352|            1507|       470.0|                 47.0|26d08ab733|      Lisa|   Parker|lisa.parker@gmail...|334.271.2972x60554|             MO028963|           2033-06-21|   2024-05-26|        1|
|23a7e86678|26d08ab733|555c2bc528|2024-02-24 21:12:00|2024-02-27 18:12:00|           4856|            1505|       690.0|                 69.0|26d08ab733|      Lisa|   Parker|lisa.parker@gmail...|334.271.2972x60554|             MO028963|           2033-06-21|   2024-05-26|        1|
|90c5d6b5c5|eb5d10cccd|424a107e54|2024-04-17 19:32:00|2024-04-19 04:32:00|           3051|            3557|       660.0|                 33.0|eb5d10cccd|    Andrew|  Mcclain|andrew.mcclain@ho...|   +1-467-858-1702|             WL839491|           2028-09-01|   2024-01-29|        1|
|9b762faba5|e3a46a2a11|7090bbca47|2024-03-23 02:00:00|2024-03-24 17:00:00|           4516|            5676|       390.0|                 39.0|e3a46a2a11|     Molly|   Brooks|molly.brooks@yaho...|   +1-595-498-7645|             BJ158232|           2025-01-24|   2024-03-02|        1|
|75a28384cb|e3a46a2a11|a726078bc9|2024-03-20 18:06:00|2024-03-21 19:06:00|           4449|            9432|       250.0|                 25.0|e3a46a2a11|     Molly|   Brooks|molly.brooks@yaho...|   +1-595-498-7645|             BJ158232|           2025-01-24|   2024-03-02|        1|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+----------+----------+---------+--------------------+------------------+---------------------+---------------------+-------------+---------+
only showing top 5 rows

In [12]:
daily_transactions_revenue = rental.withColumn(
    "transaction_date", to_date("rental_start_time")
).groupBy("transaction_date").agg(
    count("rental_id").alias("total_transactions"),
    sum("total_amount").alias("total_revenue")
)
daily_transactions_revenue.show(5)

+----------------+------------------+-------------+
|transaction_date|total_transactions|total_revenue|
+----------------+------------------+-------------+
|      2024-02-05|               128|     105880.0|
|      2024-05-30|               143|     116730.0|
|      2024-05-25|               138|     126010.0|
|      2024-01-07|               128|      99230.0|
|      2024-04-20|               128|     106960.0|
+----------------+------------------+-------------+
only showing top 5 rows

In [13]:
avg_transaction = rental.agg(avg("total_amount").alias("average_transaction"))
avg_transaction.show(5)

+-------------------+
|average_transaction|
+-------------------+
|  806.8037848605578|
+-------------------+

In [14]:
user_engagement = rental.groupby("user_id").agg(
    count("rental_id").alias("total_transactions"),
    sum("total_amount").alias("total_revenue")
)

user_engagement.show(5)

+----------+------------------+-------------+
|   user_id|total_transactions|total_revenue|
+----------+------------------+-------------+
|5144945047|                 3|       1640.0|
|0e672a709e|                 2|       1280.0|
|a39cfd7ab5|                 1|        510.0|
|010ad799a1|                 1|       1440.0|
|b31a334b34|                 2|       1470.0|
+----------+------------------+-------------+
only showing top 5 rows

In [15]:
user_spending_metrics = rental.groupBy("user_id").agg(
    max("total_amount").alias("max_spent"),
    min("total_amount").alias("min_spent")
)

# Show results
user_spending_metrics.show()

+----------+---------+---------+
|   user_id|max_spent|min_spent|
+----------+---------+---------+
|5144945047|    690.0|    400.0|
|0e672a709e|    680.0|    600.0|
|a39cfd7ab5|    510.0|    510.0|
|010ad799a1|   1440.0|   1440.0|
|b31a334b34|   1020.0|    450.0|
|d8583ddc9e|    460.0|    100.0|
|3caefcaa02|   3500.0|   3500.0|
|fea0119e06|   3200.0|   3200.0|
|5c6f9fec4e|   1180.0|    260.0|
|4f8a44e2f4|   1400.0|   1400.0|
|a93737c73f|    250.0|    250.0|
|c6feed07b9|    450.0|    120.0|
|b93679007c|    100.0|    100.0|
|879b91b696|   1200.0|   1200.0|
|3dc7fa3eb1|    490.0|    360.0|
|8b9c9c9595|    720.0|    180.0|
|ad77dd3a1c|    750.0|    180.0|
|433991741b|     30.0|     30.0|
|abc86646a2|    900.0|    340.0|
|d601306de9|    550.0|    550.0|
+----------+---------+---------+
only showing top 20 rows

In [16]:
total_rental_duration = rental.groupby("user_id").agg(sum("rental_duration_hours").alias("total_rental_duration_hours"))
total_rental_duration.show()

+----------+---------------------------+
|   user_id|total_rental_duration_hours|
+----------+---------------------------+
|5144945047|                      144.0|
|0e672a709e|                       80.0|
|a39cfd7ab5|                       51.0|
|010ad799a1|                       72.0|
|b31a334b34|                       96.0|
|d8583ddc9e|                       51.0|
|3caefcaa02|                       70.0|
|fea0119e06|                       64.0|
|5c6f9fec4e|                       85.0|
|4f8a44e2f4|                       28.0|
|a93737c73f|                       25.0|
|c6feed07b9|                       15.0|
|b93679007c|                        5.0|
|879b91b696|                       60.0|
|3dc7fa3eb1|                      128.0|
|8b9c9c9595|                       54.0|
|ad77dd3a1c|                       33.0|
|433991741b|                        3.0|
|abc86646a2|                       79.0|
|d601306de9|                       55.0|
+----------+---------------------------+
only showing top 20 rows

# LOCATION AND VEHICLE PERFORMANCE

In [17]:
rental_vehicle_df = rental.join(vehicles, "vehicle_id", "left")
rental_vehicle_df.show(5)

+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+---------------------+-------+------------+
|vehicle_id| rental_id|   user_id|  rental_start_time|    rental_end_time|pickup_location|dropoff_location|total_amount|rental_duration_hours|active|vehicle_license_number|   registration_name|    license_type|expiration_date|permit_license_number|certification_date|vehicle_year|base_telephone_number|        base_address|last_update_timestamp|  brand|vehicle_type|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+---------------------+-------+------------+
|0d9f0f0fb9|733a9361bc|8f31b734a6|2024-01-07 09:36:00|2024-01-07 17:36:00|           2546|            5442|        80.0|                  8.0|     1|               5704289|       HUSSAIN,ALTAF|FOR HIRE VEHICLE|     23-06-2024|             GVFUYP6E|        2020-09-12|        2020|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00| Toyota|       basic|
|c4b821a7eb|bc6c8fa738|a764243e14|2024-01-07 10:49:00|2024-01-10 07:49:00|           1761|            4591|      3450.0|                 69.0|     1|               5895610|LUX,CREDIT,CONSUL...|FOR HIRE VEHICLE|     29-10-2024|             1R1CBA4Z|        2023-04-04|        2023|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|Porsche|    high_end|
|0d52304987|b139d8e1b2|320be8068b|2024-02-28 08:05:00|2024-03-01 05:05:00|           1497|            6785|       450.0|                 45.0|     1|               5895794|   SHAHITHAKURI,ANIL|FOR HIRE VEHICLE|     01-10-2024|             R4JE2Y7S|        2015-04-06|        2015|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00| Nissan|       basic|
|32d58ea4b7|acc192b64a|8f31b734a6|2024-03-06 18:19:00|2024-03-09 14:19:00|           6290|            8932|      1360.0|                 68.0|     1|               5781197|  BQB AUTO GROUP INC|FOR HIRE VEHICLE|     27-04-2025|             9PQI2QKP|        2018-08-11|        2018|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|    BMW|     premium|
|975d72985c|7afd60f6d3|320be8068b|2024-01-07 20:16:00|2024-01-09 21:16:00|           5345|            2608|      2450.0|                 49.0|     1|               6017744|    IBRAGIMOV,BEKZOD|FOR HIRE VEHICLE|     08-02-2025|             4D5VSCKU|        2023-10-16|        2023|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|Porsche|    high_end|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+---------------------+-------+------------+
only showing top 5 rows

In [18]:
rental_vehicle_location_df = rental_vehicle_df.join(
    locations, rental_vehicle_df["pickup_location"] == locations["location_id"], "left"
)

# Show results
rental_vehicle_location_df.show()

25/04/04 10:41:20 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+---------------------+-------------+------------+-----------+--------------------+--------------------+--------------+-----+--------+-----------+-----------+
|vehicle_id| rental_id|   user_id|  rental_start_time|    rental_end_time|pickup_location|dropoff_location|total_amount|rental_duration_hours|active|vehicle_license_number|   registration_name|    license_type|expiration_date|permit_license_number|certification_date|vehicle_year|base_telephone_number|        base_address|last_update_timestamp|        brand|vehicle_type|location_id|       location_name|             address|          city|state|zip_code|   latitude|  longitude|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+---------------------+-------------+------------+-----------+--------------------+--------------------+--------------+-----+--------+-----------+-----------+
|9ab9a0e6c8|412400edf0|d1eec018e1|2024-04-17 20:08:00|2024-04-17 21:08:00|           3854|            7660|        50.0|                  1.0|     1|               5627740|    ELAOUNI,MOHAMMED|FOR HIRE VEHICLE|     09-07-2025|             ZTQU8IHQ|        2016-03-05|        2016|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|      Porsche|    high_end|       3854|Stephens, Mckee a...|45378 Wells Ports...|       Concord|   CA|   92071|  40.611904|   1.012244|
|0d9f0f0fb9|733a9361bc|8f31b734a6|2024-01-07 09:36:00|2024-01-07 17:36:00|           2546|            5442|        80.0|                  8.0|     1|               5704289|       HUSSAIN,ALTAF|FOR HIRE VEHICLE|     23-06-2024|             GVFUYP6E|        2020-09-12|        2020|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|       Toyota|       basic|       2546|      Davis and Sons|     499 Kelly Burgs|San Bernardino|   CA|   95602|  -9.902929| -37.714221|
|8443635c7a|97bdcd04eb|02bd398e38|2024-02-23 01:23:00|2024-02-25 14:23:00|           2034|            3311|      3050.0|                 61.0|     1|               5663257|       MIAN,SAJJAD,A|FOR HIRE VEHICLE|     02-12-2025|             KVI766XE|        2023-12-23|        2023|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|  Lamborghini|    high_end|       2034|        Kennedy-Peck|90364 Mckinney We...|       Anaheim|   CA|   90784|  2.7708765| 147.034375|
|865d13e764|1de51e38f2|ba30d7b587|2024-02-07 00:33:00|2024-02-08 20:33:00|           9810|            4592|       440.0|                 44.0|     1|               5904260| MAMBETALIEV,ULANBEK|FOR HIRE VEHICLE|     17-12-2024|             FG6UND5O|        2015-07-29|        2015|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|        Honda|       basic|       9810|Price, Smith and ...|79626 Rogers Fort...|    Santa Rosa|   CA|   94956| -43.387246|-159.333074|
|9ed16aa8d1|71e0320a1e|ba30d7b587|2024-01-27 21:28:00|2024-01-28 08:28:00|           6036|            8134|       550.0|                 11.0|     1|               5974068|        ABABIO,KWASI|FOR HIRE VEHICLE|     18-06-2025|             ZHQYV8Z6|        2017-06-01|        2017|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|  Lamborghini|    high_end|       6036|        Hines-Murphy|556 Jennifer Exte...|     Oceanside|   CA|   91986|-62.9513875| 166.631653|
|baf3063ee1|718c4e5744|d8dc1e8ac2|2024-03-17 05:58:00|2024-03-17 09:58:00|           5889|            1171|        40.0|                  4.0|     1|               5552792|PPS,LUXURY,TRANSP...|FOR HIRE VEHICLE|     30-06-2024|             GJ204XPJ|        2023-05-30|        2023|        (718)433-7697|111-15A ROOSEVELT...|  04-06-2024 13:25:00|       Toyota|       basic|       5889|        Bailey-Small|   992 Michelle Ford|    Sacramento|   CA|   90801|-88.3952525|   -65.1065|
|920af4633d|1aaf30c8e2|fcd7cd0194|2024-03-17 05:33:00|2024-03-19 07:33:00|           2981|            3466|       500.0|                 50.0|     1|               5055031|DIAZ,AQUILES,DOMINGO|FOR HIRE VEHICLE|     25-08-2024|             BFY55Z9T|        2012-10-18|        2012|        (929)400-3838|1161 SOUTHERN BOU...|  04-06-2024 13:25:00|    Chevrolet|       basic|       2981|Nunez, Garcia and...|    136 Guerrero Way| San Francisco|   CA|   92897|-76.6533145| 105.547676|
|b0ded475a2|01ff605c68|0eff4a723e|2024-03-30 03:30:00|2024-03-30 18:30:00|           2620|            2794|       150.0|                 15.0|     1|               5678646|   MAJUMDER,JAHANGIR|FOR HIRE VEHICLE|     11-02-2026|             OYKSWQ3M|        2023-03-29|        2023|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|         Ford|       basic|       2620|Carlson, Griffith...|   311 Mckinney Port|     Escondido|   CA|   90446| -64.648068|   91.52816|
|c4b821a7eb|bc6c8fa738|a764243e14|2024-01-07 10:49:00|2024-01-10 07:49:00|           1761|            4591|      3450.0|                 69.0|     1|               5895610|LUX,CREDIT,CONSUL...|FOR HIRE VEHICLE|     29-10-2024|             1R1CBA4Z|        2023-04-04|        2023|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|      Porsche|    high_end|       1761|         Collins LLC|09686 James Cliff...|        Irvine|   CA|   95993|-58.9146665|  74.578069|
|0d52304987|b139d8e1b2|320be8068b|2024-02-28 08:05:00|2024-03-01 05:05:00|           1497|            6785|       450.0|                 45.0|     1|               5895794|   SHAHITHAKURI,ANIL|FOR HIRE VEHICLE|     01-10-2024|             R4JE2Y7S|        2015-04-06|        2015|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|       Nissan|       basic|       1497|           Terry Inc|   40402 Jones Haven|        Pomona|   CA|   93146| -21.816193|   89.69813|
|32d58ea4b7|acc192b64a|8f31b734a6|2024-03-06 18:19:00|2024-03-09 14:19:00|           6290|            8932|      1360.0|                 68.0|     1|               5781197|  BQB AUTO GROUP INC|FOR HIRE VEHICLE|     27-04-2025|             9PQI2QKP|        2018-08-11|        2018|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|          BMW|     premium|       6290|Johnson, Harrell ...|861 Kelly Way Apt...|     Oceanside|   CA|   90905| 28.4079985|-128.724818|
|43d773a69c|7284831f00|02bd398e38|2024-05-20 12:43:00|2024-05-23 00:43:00|           6609|            6920|      1200.0|                 60.0|     1|               5742774|      GURUNG,HIRALAL|FOR HIRE VEHICLE|     21-11-2024|             4JSX09P1|        2022-01-02|        2022|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|Mercedes-Benz|     premium|       6609|         Stewart Inc|433 Joseph Mews S...|San Bernardino|   CA|   96003| -86.849432|  95.363893|
|93bb80e1fd|e0c26af9ff|a764243e14|2024-03-11 08:48:00|2024-03-12 09:48:00|           2815|            8147|       250.0|                 25.0|     1|               5598505|            REAM,INC|FOR HIRE VEHICLE|     17-03-2025|             D7UEPYSX|        2018-03-01|        2018|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|       Toyota|       basic|       2815|Barnes, Foley and...|008 James Traffic...|      Palmdale|   CA|   94452|   3.357019|  59.962331|
|975d72985c|7afd60f6d3|320be8068b|2024-01-07 20:16:00|2024-01-09 21:16:00|           5345|            2608|      2450.0|                 49.0|     1|               6017744|    IBRAGIMOV,BEKZOD|FOR HIRE VEHICLE|     08-02-2025|             4D5VSCKU|        2023-10-16|        2023|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|      Porsche|    high_end|       5345|            Hill Ltd|4330 Charles Skyw...|     Lancaster|   CA|   93820| 44.7644055| -80.739739|
|a2682ea246|699352c857|d1eec018e1|2024-01-21 20:06:00|2024-01-22 02:06:00|           5984|            5345|        60.0|                  6.0|     1|               5735791|AMERICAN,UNITED,T...|FOR HIRE VEHICLE|     03-11-2024|             XGBEUP4Q|        2017-05-12|        2017|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|    Chevrolet|       basic|       5984|Huang, Owens and ...|317 Thomas Island...|       Ontario|   CA|   95177|  -10.78292| 106.422836|
|fb34939ff6|7d05f05066|f187b2017e|2024-03-22 17:27:00|2024-03-25 00:27:00|           5166|            2863|       550.0|                 55.0|     0|               5820367|        WEI, HAOYONG|FOR HIRE VEHICLE|     13-10-2025|             7OH71GZI|        2017-03-24|        2017|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|       Toyota|       basic|       5166|Romero, Howard an...|94092 Taylor Orchard|   Chula Vista|   CA|   93401|  -88.09557| 158.293097|
|967fdab45e|6e546b69dd|8f31b734a6|2024-01-05 11:30:00|2024-01-07 04:30:00|           8147|            4380|      2050.0|                 41.0|     1|               5603300|LINDA TRANSPORTAT...|FOR HIRE VEHICLE|     17-03-2025|             AVUXDQZQ|        2022-11-08|        2022|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|      Porsche|    high_end|       8147|Campbell, Ford an...|96150 Christopher...|    Long Beach|   CA|   91950| -29.264438| 131.462947|
|ca48f1fdc6|bfd00885b1|0eff4a723e|2024-04-10 15:30:00|2024-04-13 01:30:00|           2238|            3057|       580.0|                 58.0|     1|               5892425| NIKITIN,ALEKSANDR,G|FOR HIRE VEHICLE|     06-09-2024|             HQSL8SQT|        2023-01-14|        2023|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|       Toyota|       basic|       2238|    Cantrell-Bennett|1898 Hunt Ford Su...| Thousand Oaks|   CA|   96032| -36.444029|  23.198213|
|08a01888dd|95c8527d0b|52da2439c8|2024-02-14 21:53:00|2024-02-17 02:53:00|           9536|            4922|      1060.0|                 53.0|     1|               5893397|    MOMI,GAGANDEEP,S|FOR HIRE VEHICLE|     02-10-2024|             HSIPX80O|        2020-04-15|        2020|        (646)780-0129|1515 THIRD STREET...|  04-06-2024 13:25:00|Mercedes-Benz|     premium|       9536|           Brown Ltd|800 Peters Mounta...|        Irvine|   CA|   91019|  17.835358|  93.621048|
|f1505fed87|26babaa7a5|02bd398e38|2024-05-13 04:07:00|2024-05-14 10:07:00|           3561|            8597|      1500.0|                 30.0|     1|               6058071|   MARTINEZNUNEZ,R,R|FOR HIRE VEHICLE|     26-01-2026|             K79L1G4C|        2022-02-09|        2022|        (415)475-8459|441    9 AVENUE 2...|  04-06-2024 13:25:00|      Ferrari|    high_end|       3561|        Thomas-Bauer|26867 Mary Expres...|       Hayward|   CA|   96092|  -72.72931|  56.208901|
+----------+----------+----------+-------------------+-------------------+---------------+----------------+------------+---------------------+------+----------------------+--------------------+----------------+---------------+---------------------+------------------+------------+---------------------+--------------------+---------------------+-------------+------------+-----------+--------------------+--------------------+--------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [19]:
revenue_per_location = rental.groupBy("pickup_location").agg(
    sum("total_amount").alias("total_revenue")
).join(
    locations, rental["pickup_location"] == locations["location_id"], "left"
).select(
    col("location_id"),
    col("location_name"),
    col("total_revenue")
)

# Show results
revenue_per_location.show()

+-----------+--------------------+-------------+
|location_id|       location_name|total_revenue|
+-----------+--------------------+-------------+
|       1959|           Lopez Inc|      58090.0|
|       8928|Phelps, Robinson ...|      43470.0|
|       1507|Smith, Alexander ...|      57120.0|
|       8932|Costa, Whitaker a...|      53890.0|
|       9182|         Montoya Inc|      63900.0|
|       4219|         Campos-Cook|      36170.0|
|       5345|            Hill Ltd|      64980.0|
|       5984|Huang, Owens and ...|      65260.0|
|       9558|       Castro-Larsen|      47840.0|
|       8779|          Mora-Young|      57000.0|
|       3561|        Thomas-Bauer|      51510.0|
|       3028|          Meyer-Hahn|      59170.0|
|       2238|    Cantrell-Bennett|      51580.0|
|       8627|       Mendez-Harris|      44450.0|
|       9488|Soto, White and J...|      50470.0|
|       2294|Kelly, Gonzales a...|      32180.0|
|       1745|       Black-Solomon|      49190.0|
|       4865|            Roy-Lowe|      57080.0|
|       4683|Williams, Mullins...|      50820.0|
|       8001|        Klein-Bailey|      46700.0|
+-----------+--------------------+-------------+
only showing top 20 rows

In [20]:
# Compute total transactions per location (pickup_location)
transactions_per_location = rental.groupBy("pickup_location").agg(
    count("rental_id").alias("total_transactions")
).join(
    locations, rental["pickup_location"] == locations["location_id"], "left"
).select(
    col("location_id"),
    col("location_name"),
    col("total_transactions")
)

# Show results
transactions_per_location.show()

+-----------+--------------------+------------------+
|location_id|       location_name|total_transactions|
+-----------+--------------------+------------------+
|       1959|           Lopez Inc|                69|
|       8928|Phelps, Robinson ...|                66|
|       1507|Smith, Alexander ...|                77|
|       8932|Costa, Whitaker a...|                65|
|       9182|         Montoya Inc|                75|
|       4219|         Campos-Cook|                56|
|       5345|            Hill Ltd|                81|
|       5984|Huang, Owens and ...|                84|
|       9558|       Castro-Larsen|                60|
|       8779|          Mora-Young|                76|
|       3561|        Thomas-Bauer|                66|
|       3028|          Meyer-Hahn|                77|
|       2238|    Cantrell-Bennett|                54|
|       8627|       Mendez-Harris|                66|
|       9488|Soto, White and J...|                72|
|       2294|Kelly, Gonzales a...|                52|
|       1745|       Black-Solomon|                73|
|       4865|            Roy-Lowe|                71|
|       4683|Williams, Mullins...|                74|
|       8001|        Klein-Bailey|                63|
+-----------+--------------------+------------------+
only showing top 20 rows

In [21]:
# Compute average transaction amount per location (pickup_location)
avg_transaction_per_location = rental.groupBy("pickup_location").agg(
    avg("total_amount").alias("avg_transaction_amount")
).join(
    locations, rental["pickup_location"] == locations["location_id"], "left"
).select(
    col("location_id"),
    col("location_name"),
    col("avg_transaction_amount")
)

# Show results
avg_transaction_per_location.show()

+-----------+--------------------+----------------------+
|location_id|       location_name|avg_transaction_amount|
+-----------+--------------------+----------------------+
|       1959|           Lopez Inc|     841.8840579710145|
|       8928|Phelps, Robinson ...|     658.6363636363636|
|       1507|Smith, Alexander ...|     741.8181818181819|
|       8932|Costa, Whitaker a...|     829.0769230769231|
|       9182|         Montoya Inc|                 852.0|
|       4219|         Campos-Cook|     645.8928571428571|
|       5345|            Hill Ltd|     802.2222222222222|
|       5984|Huang, Owens and ...|     776.9047619047619|
|       9558|       Castro-Larsen|     797.3333333333334|
|       8779|          Mora-Young|                 750.0|
|       3561|        Thomas-Bauer|     780.4545454545455|
|       3028|          Meyer-Hahn|     768.4415584415584|
|       2238|    Cantrell-Bennett|     955.1851851851852|
|       8627|       Mendez-Harris|     673.4848484848485|
|       9488|Soto, White and J...|     700.9722222222222|
|       2294|Kelly, Gonzales a...|     618.8461538461538|
|       1745|       Black-Solomon|     673.8356164383562|
|       4865|            Roy-Lowe|      803.943661971831|
|       4683|Williams, Mullins...|     686.7567567567568|
|       8001|        Klein-Bailey|     741.2698412698413|
+-----------+--------------------+----------------------+
only showing top 20 rows

In [22]:
# Compute max and min transaction amount per location (pickup_location)
max_min_transaction_per_location = rental.groupBy("pickup_location").agg(
    max("total_amount").alias("max_transaction_amount"),
    min("total_amount").alias("min_transaction_amount")
).join(
    locations, rental["pickup_location"] == locations["location_id"], "left"
).select(
    col("location_id"),
    col("location_name"),
    col("max_transaction_amount"),
    col("min_transaction_amount")
)

# Show results
max_min_transaction_per_location.show()

+-----------+--------------------+----------------------+----------------------+
|location_id|       location_name|max_transaction_amount|min_transaction_amount|
+-----------+--------------------+----------------------+----------------------+
|       1959|           Lopez Inc|                3600.0|                  60.0|
|       8928|Phelps, Robinson ...|                3200.0|                  30.0|
|       1507|Smith, Alexander ...|                3250.0|                  40.0|
|       8932|Costa, Whitaker a...|                3500.0|                  40.0|
|       9182|         Montoya Inc|                3450.0|                  20.0|
|       4219|         Campos-Cook|                3050.0|                  20.0|
|       5345|            Hill Ltd|                3400.0|                  10.0|
|       5984|Huang, Owens and ...|                3350.0|                  10.0|
|       9558|       Castro-Larsen|                3250.0|                  30.0|
|       8779|          Mora-Young|                3500.0|                  30.0|
|       3561|        Thomas-Bauer|                3100.0|                  30.0|
|       3028|          Meyer-Hahn|                3400.0|                  20.0|
|       2238|    Cantrell-Bennett|                3600.0|                  30.0|
|       8627|       Mendez-Harris|                3100.0|                  10.0|
|       9488|Soto, White and J...|                3100.0|                  40.0|
|       2294|Kelly, Gonzales a...|                2600.0|                  10.0|
|       1745|       Black-Solomon|                2850.0|                  20.0|
|       4865|            Roy-Lowe|                3250.0|                  10.0|
|       4683|Williams, Mullins...|                3600.0|                  40.0|
|       8001|        Klein-Bailey|                3100.0|                  20.0|
+-----------+--------------------+----------------------+----------------------+
only showing top 20 rows

In [23]:
# Compute unique vehicles used per location (pickup_location)
unique_vehicles_per_location = rental.groupBy("pickup_location").agg(
    countDistinct("vehicle_id").alias("unique_vehicles_used")
).join(
    locations, rental["pickup_location"] == locations["location_id"], "left"
).select(
    col("location_id"),
    col("location_name"),
    col("unique_vehicles_used")
)

# Show results
unique_vehicles_per_location.show()

+-----------+--------------------+--------------------+
|location_id|       location_name|unique_vehicles_used|
+-----------+--------------------+--------------------+
|       1959|           Lopez Inc|                  69|
|       8928|Phelps, Robinson ...|                  66|
|       9182|         Montoya Inc|                  75|
|       8932|Costa, Whitaker a...|                  65|
|       1507|Smith, Alexander ...|                  77|
|       4219|         Campos-Cook|                  56|
|       5345|            Hill Ltd|                  81|
|       9558|       Castro-Larsen|                  59|
|       5984|Huang, Owens and ...|                  84|
|       8779|          Mora-Young|                  76|
|       3561|        Thomas-Bauer|                  66|
|       3028|          Meyer-Hahn|                  77|
|       2238|    Cantrell-Bennett|                  54|
|       8627|       Mendez-Harris|                  66|
|       9488|Soto, White and J...|                  72|
|       2294|Kelly, Gonzales a...|                  52|
|       4683|Williams, Mullins...|                  74|
|       1745|       Black-Solomon|                  73|
|       4865|            Roy-Lowe|                  71|
|       2484|      Jones and Sons|                  72|
+-----------+--------------------+--------------------+
only showing top 20 rows

In [24]:
rental_duration_metrics_by_vehicle_type = rental_vehicle_df.groupBy("vehicle_type").agg(
    avg("rental_duration_hours").alias("avg_rental_duration"),
    max("rental_duration_hours").alias("max_rental_duration"),
    min("rental_duration_hours").alias("min_rental_duration"),
    sum("rental_duration_hours").alias("total_rental_duration")
)

# Show results
rental_duration_metrics_by_vehicle_type.show()

+------------+-------------------+-------------------+-------------------+---------------------+
|vehicle_type|avg_rental_duration|max_rental_duration|min_rental_duration|total_rental_duration|
+------------+-------------------+-------------------+-------------------+---------------------+
|    high_end| 36.900498753117205|               72.0|                1.0|             147971.0|
|       basic|  36.59878955995461|               72.0|                1.0|             290265.0|
|     premium|  36.24167588155793|               72.0|                1.0|             294971.0|
+------------+-------------------+-------------------+-------------------+---------------------+